:root{
    --header-bg: rgb(20, 20, 20, 0.5);
    --bg: rgb(0, 0, 0);
    --card-bg: rgb(20, 20, 20);
    --text: rgb(220, 220, 220);
    --big-text: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    color: var(--big-text);
    font-family: Lexend, Helvetica, sans-serif;
    margin: 0;
}

header {
    position: sticky;
    top: 0;
    background-color: var(--header-bg);
    padding: 10px 250px;
    border-bottom: 1px solid var(--card-bg);
    display: flex;
    align-items: center;
    backdrop-filter: blur(10px);
    z-index: 1000;
}

header h1 {
    text-align: left;
    font-size: 20px;
}

.header-button {
    margin-left: auto;
    background-color: var(--bg);
    color: var(--text);
    border: 2px solid var(--card-bg);
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    transition: background-color 0.5s ease;
}

.header-button:hover {
    background-color: var(--card-bg);
    color: var(--big-text);
    transform: translate(1px, -1px);
    box-shadow: 1px 1px 0px rgba(50, 50, 50, 0.5);
    transition: background-color 0.5s ease;
}

.header-button:active {
    transform: translate(2px, -2px);
    box-shadow: 2px 2px 0px rgba(50, 50, 50, 0.5);
    background-color: var(--big-text);
    color: var(--bg);
    transition: background-color 0.5s ease;
}

main {
    background-image: url('images/bg-image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--bg);
    display: flex;
    align-items: center;
    padding: 20px 250px;
}

main h2 {
    font-size: 30px;
    margin-bottom: 50px;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding-bottom: 50px;
}

.card-grid p {
    font-size: 16px;
    line-height: 1.5;
    color: var(--text);
    transition: transform 0.5s ease;
    transform-origin: left;
}

.card-grid h3 {
    font-size: 20px;
    margin-bottom: 10px;
    transition: font-size 0.5s ease;
}

.card {
    background-color: var(--bg);
    border: 2px solid var(--card-bg);
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    height: 180px;
    text-decoration: none;
    color: inherit;
}

.card:hover {
    background-color: var(--card-bg);
    transform: translate(-1px, -1px);
    box-shadow: 2px 2px 0px rgba(255, 255, 255, 0.5);
    transition: background-color 0.5s ease;
}

.card:hover h3 {
    font-size: 25px;
    transition: font-size 0.5s ease;
}

.card:hover p {
    color: var(--big-text);
    transform: scale(0.9);
    transition: transform 0.5s ease;
    transform-origin: left;
}

.card:active {
    transform: translate(-2px, -2px);
    box-shadow: 4px 4px 0px rgba(255, 255, 255, 0.5);
    background-color: var(--big-text);
    color: var(--bg);
    transition: background-color 0.5s ease;
}

.card:active p {
    color: var(--bg);
}

footer {
    position:sticky;
    background-color: var(--card-bg);
    display: flex;
    align-items: center;
    padding: 30px 20px;
    width: 100%;
}

.copyright {
    padding-left: 40px;
    font-size: 14px;
    color: var(--text);
}

.social-links {
    display: flex;
    gap: 20px;
    padding-right: 40px;
    margin-left: auto;
}

.social-link {
    color: var(--text);
}